# Dependencies
node_modules/

# Next.js build output
.next/
out/

# macOS specific files
.DS_Store

# Environment variables
.env.development.local
.env.production.local
.env.test.local
config.bat
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
